{% extends 'base.html' %}


{% block content %}
<div class="app-container mt-5">
    <h1 class="main-title-text">My Planner</h1>
    <div id="calendar"></div>
    <a href="{% url 'planner:add_event' %}" class="btn btn-log mb-4">Add Event</a>
    <div class="scrollable-container" style="border: 1px solid #ccc; padding: 10px;">
        <ul class="list-group">
            {% for event in events %}
            <li class="list-group-item">
                <h5>{{ event.event_name }}</h5>
                <p>{{ event.description }}</p>
                <p>{{ event.event_date }} - {{ event.event_time }}</p>
                <div class="mt-2">
                    <a href="{% url 'planner:edit_event' event.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'planner:delete_event' event.id %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}